@font-face {
  font-family: "billkes"; /* Project id 3651093 */
  src: url('iconfont.svg?t=1664101056306#billkes') format('svg');
}

.billkes {
  font-family: "billkes" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id-Drink:before {
  content: "\e676";
}

.id-Jam:before {
  content: "\e67b";
}

.id-pingguo:before {
  content: "\e606";
}

.id-qingjiao:before {
  content: "\e608";
}

.id-niunai:before {
  content: "\e60d";
}

.id-mianbao:before {
  content: "\e60e";
}

.id-zhangyu:before {
  content: "\e610";
}

.id-pangxie:before {
  content: "\e611";
}

.id-xianyu:before {
  content: "\e617";
}

.id-qiezi:before {
  content: "\e61a";
}

.id-sanwenyu:before {
  content: "\e621";
}

.id-xigua:before {
  content: "\e623";
}

.id-huolongguo:before {
  content: "\e625";
}

.id-boluo:before {
  content: "\e62f";
}

.id-taozi:before {
  content: "\e64f";
}

.id-xiangjiao:before {
  content: "\e650";
}

.id-caomei:before {
  content: "\e651";
}

.id-chelizi:before {
  content: "\e654";
}

.id-yangtao:before {
  content: "\e685";
}

.id-baicai:before {
  content: "\e6a5";
}

.id-withdraw:before {
  content: "\e613";
}

.id-zengjiatuceng:before {
  content: "\ec32";
}

.id-A:before {
  content: "\e6eb";
}

.id-bofang:before {
  content: "\f820";
}

.id-kaixinguo:before {
  content: "\e630";
}

.id-hetao:before {
  content: "\e631";
}

.id-xiaweiyiguo:before {
  content: "\e632";
}

.id-huasheng:before {
  content: "\e633";
}

.id-bigenguo:before {
  content: "\e634";
}

.id-songzi:before {
  content: "\e636";
}

.id-badanmu:before {
  content: "\e638";
}

.id-yaoguo:before {
  content: "\e639";
}

.id-danhuangsu:before {
  content: "\e63a";
}

.id-dangao:before {
  content: "\e63b";
}

.id-binggan:before {
  content: "\e63c";
}

.id-buding:before {
  content: "\e63d";
}

.id-tangguo:before {
  content: "\e63e";
}

.id-qiaokeli:before {
  content: "\e63f";
}

.id-hongzao:before {
  content: "\e640";
}

.id-candou:before {
  content: "\e641";
}

.id-putaogan:before {
  content: "\e642";
}

.id-manyuemei:before {
  content: "\e643";
}

.id-shousi:before {
  content: "\e695";
}

.id-zhouzi:before {
  content: "\e698";
}

.id-bingsha:before {
  content: "\e699";
}

.id-suannai:before {
  content: "\e69a";
}

.id-pisa:before {
  content: "\e69b";
}

.id-haixing:before {
  content: "\e69c";
}

.id-haizhe:before {
  content: "\e69d";
}

.id-tongluoshao:before {
  content: "\e69e";
}

.id-nuomici:before {
  content: "\e69f";
}

.id-kuangquanshui:before {
  content: "\e6a0";
}

.id-cha:before {
  content: "\e6a2";
}

.id-zhangyuxiaowanzi:before {
  content: "\e6a3";
}

.id-chengzhi:before {
  content: "\e6a4";
}

.id-hebaodan:before {
  content: "\e6a6";
}

.id-bingtanghulu:before {
  content: "\e6a7";
}

.id-fengmi:before {
  content: "\e6ac";
}

.id-feiyuguantou:before {
  content: "\e6ad";
}

.id-shengjian:before {
  content: "\e6ae";
}

.id-youtiao:before {
  content: "\e6af";
}

.id-yuzijiang:before {
  content: "\e6b0";
}

.id-zhutongfan:before {
  content: "\e6b1";
}

.id-doujiang:before {
  content: "\e6b2";
}

.id-sanmingzhi:before {
  content: "\e6b3";
}

.id-paofu:before {
  content: "\e6b4";
}

.id-shanbei:before {
  content: "\e6b5";
}

.id-dangaojuan:before {
  content: "\e6b6";
}

.id-futejia:before {
  content: "\e6b7";
}

.id-huangyou:before {
  content: "\e6b8";
}

.id-xiangchang:before {
  content: "\e6b9";
}

.id-banji:before {
  content: "\e6ba";
}

.id-danta:before {
  content: "\e6bb";
}

.id-qingning:before {
  content: "\e6bc";
}

.id-lajiao:before {
  content: "\e6bd";
}

.id-shizi:before {
  content: "\e6be";
}

.id-mojituo:before {
  content: "\e6bf";
}

.id-putaojiu:before {
  content: "\e6c1";
}

.id-kouxiangtang:before {
  content: "\e6c2";
}

.id-xiangcaobingqilin:before {
  content: "\e6c3";
}

.id-jiaozi:before {
  content: "\e6c4";
}

.id-tilamisu:before {
  content: "\e6c5";
}

.id-huoguo:before {
  content: "\e6c6";
}

.id-hongshu:before {
  content: "\e6c7";
}

.id-bingkuai:before {
  content: "\e6c8";
}

.id-mianhuatang:before {
  content: "\e6c9";
}

.id-paobing:before {
  content: "\e6ca";
}

.id-meishikafei:before {
  content: "\e6cb";
}

.id-mantou:before {
  content: "\e6cc";
}

.id-qishui:before {
  content: "\e6cd";
}

.id-ganlan:before {
  content: "\e6ce";
}

.id-jiroujuan:before {
  content: "\e6cf";
}

.id-guodong:before {
  content: "\e6d0";
}

.id-kafei:before {
  content: "\e657";
}

.id-shutiao:before {
  content: "\e658";
}

.id-zhenzhunaicha:before {
  content: "\e659";
}

.id-xuegao:before {
  content: "\e65a";
}

.id-nailao:before {
  content: "\e65b";
}

.id-kele:before {
  content: "\e65c";
}

.id-tiantong:before {
  content: "\e65d";
}

.id-hanbao:before {
  content: "\e65e";
}

.id-xiezishousi:before {
  content: "\e65f";
}

.id-baomihua:before {
  content: "\e660";
}

.id-regou:before {
  content: "\e661";
}

.id-makalong:before {
  content: "\e662";
}

.id-tianfuluo:before {
  content: "\e663";
}

.id-paomian:before {
  content: "\e689";
}

.id-tiantianquan:before {
  content: "\e68d";
}

.id-shupian:before {
  content: "\e68e";
}

.id-huafubing:before {
  content: "\e68f";
}

.id-bangbangtang:before {
  content: "\e690";
}

